/*---- General styles ----- */

*{
    box-sizing: border-box;
    margin-block-end: 0;
}

body{
    font-family: 'Lato', sans-serif;
    color: #545567;
}

a{
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: #e10500;
}

.title{
    font-size: 2.5rem;
}

.paragraph-text{
    font-size: .8rem;
}

.pre-title{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.plan-price{
    font-size: 3rem;
    font-weight: 900;
}

.btn{
    font-size: .8rem;
    border-radius: 0;
}

.btn.buy{
    width: 100%;
}

.btn-danger{
    background-color: #e10500 !important;
}

.btn-danger,
.light-btn{
    padding: 1rem 1.2rem;
}

.btn-danger:hover{
    background-color: white !important;
    color: #e10500;
}

.light-btn:hover{
    background-color: #e3e4e6;
}



/*------- end general styles ----*/

.top-menu,
.navbar{
    background-color: #222331 !important;
}

.navbar-brand{
    position: relative;
    padding-left: 20px;
    font-size: 1.8rem;
    font-weight: 900;
    color: white !important;
}

.nav-item{
    margin: 0 20px;
}

.nav-link{
    color: white !important;
}

.navbar-brand::before{
    position: absolute;
    left: -35px;
    content: url(../img/logo.png);
    display: inline;
}

.hero{
    height: 490px;
    background-image: url(../img/banner-img-op.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.light-btn{
    border: 1px solid #545567;
}


.plans{
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-group,
.list-group-flush,
.list-group-item{
    border: none !important;
}

.plans li::before{
    content: url(../img/check.svg);
    position: absolute;
    left: -10px;
}

.card{
    min-height: 385px;
}

.card-body{
        max-height: 130px;
    }

.read-more{
    position: relative;
    padding-top: 20px;
}

.read-more::after,
.arrow-more::after{
    content: url(../img/slider-arrow.png);
    position: absolute;
    transform: scale(.5) rotate(180deg);
}

.read-more::after{
    top: 15px;
}

.arrow-more::after{
    top: -5px;
}

.cta-banner{
    background-color: #222331;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.cta-banner .btn{
    width: 10rem;
}

.cta-banner p:not(.pre-title){
    line-height: 1.3rem:
}

.subscribe-form{
    padding-top: 70px;
    padding-bottom: 70px
}

.form-title{
    padding-bottom: 25px;
}

.form-group,
.custom-checkbox{
    margin-bottom: 20px;
}

input{
    background-color: #e3e4e6 !important;
    border-radius: 0 !important;
}

input::placeholder,
label{
    font-size: .8rem;
}

.input-pair{
    flex-basis: 48%;
}

.form-btn{
    width: 100%;
    background-color: #545567;
    color: white;
}


/* ------------ Responsive ------------- */

/*---------- Mobile only ------ */

@media (max-width: 575.98px){
    
    .hero{
        min-height: 695px;
        background-image: url(../img/banner-img-MOBILE.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }
    
    .hero-text{
        margin-top: 50px;
    }
    
    .hero-buttons{
        margin-top: 250px;
    }
    
    .hero-buttons .btn,
    .cta-banner .btn{
        width: 100%;
        margin-top: 10px;
    }
    
    
    .cta-banner .paragraph{
        margin-top: 100px;
    }
    
}

/*------ Mobile and Tablet portrait ----- */

@media (max-width: 767.98px){
    
    .card{
        margin-top: 20px;
    }
    
    .list-group{
        padding-left: 60px;
    }
}

/* ----------- Tablet portrait ------------ */

@media (min-width: 576px) and (max-width: 767.98){
    
}

/*-------- Tablet portrait to tablet landscape ----- */

@media (min-width: 768px) and (max-width: 991.98px){
    
    .title{
        font-size: 2.3rem;
    }

    .paragraph-text{
        font-size: .8rem;
    }

    .pre-title{
        font-size: 1.1rem;
        font-weight: 700;
    }

    .plan-price{
        font-size: 2.7rem;
        font-weight: 900;
    }

    .btn{
        font-size: .8rem;
        border-radius: 0;
    }
    
    .list-group{
        min-height: 195px;
    }
    
}


@media (min-width: 768px) and (max-width: 1199.98px){
    
    .list-group{
        padding-left: 40px;
    }
}

/* ------- From Tablet landscape / Small Desktop up -------- */ 

@media (min-width: 992px){
    
    .card{
        max-width: 290px;
    }
    
}

/*----------- From Small Desktop up -------------*/

@media (min-width: 1200px){
    
    .container{
        max-width: 1500px !important;
    }
    
    .title{
    font-size: 2.5rem;
}

    .paragraph-text{
        font-size: .8rem;
    }

    .pre-title{
        font-size: 1.3rem;
        font-weight: 700;
    }

    .plan-price{
        font-size: 3rem;
        font-weight: 900;
    }

    .btn{
        font-size: .8rem;
        border-radius: 0;
    }
    
    .list-group{
        padding-left: 60px;
    }
    
}


